<div class="mainAddUser">
    <div class="formAndDisplay">
        <form [formGroup]="userForm" class="formTag">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" autocomplete="off" class="form-control" formControlName="firstName" aria-describedby="emailHelp"
                    placeholder="Enter First Name">
                <span class="errorMsg" *ngIf="firstName && firstName.invalid && firstName.touched">First Name is Required</span>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" autocomplete="off" class="form-control" formControlName="lastName" placeholder="Enter Last Name">
                <span class="errorMsg"  *ngIf="lastName && lastName.invalid && lastName.touched">Last Name is Required</span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" autocomplete="off" class="form-control" formControlName="email" placeholder="Enter Email">
                <span class="errorMsg"  *ngIf="email && email.invalid && email.touched">Email address is invalid</span>
            </div>
            <div class="form-group">
                <label>Mobile#</label>
                <input type="number" class="form-control" formControlName="mobileNumber" placeholder="Enter Mobile Number">
                <span class="errorMsg"  *ngIf="mobileNumber && mobileNumber.invalid && mobileNumber.touched">Phone is Required</span>
            </div>
            <div class="form-group">
                <label>Salary</label>
                <input type="number" class="form-control" formControlName="salary" placeholder="Enter Salary">
                <span class="errorMsg"  *ngIf="salary && salary.invalid && salary.touched">Salart is Required</span>
            </div>
            <button class="submitBtn" type="button" [disabled]="userForm.invalid" class="btn btn-primary" (click)="submitForm()">Submit</button>
        </form>
    </div>
    <div class="displayList">
        <app-list-user></app-list-user>
    </div>
</div>