.mainAddUser{
    min-height: 600px;
    width: 100%;
    display: flex;
    .formAndDisplay{
        width: 50%;
        .errorMsg{
            color: red;
        }
    }
    .submitBtn{
        cursor: pointer;
    }
}

.form-control{
    width: 50% !important;
}

.formTag{
    margin-left: 150px;
    margin-right: -100px;
}